

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.login-logo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}















